<!doctype html>
<html lang="en">

<head>
  <style>
    .pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
  </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Gmail Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body style="background-color: gray">
 
<form action="/first" method="post">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">My Gmail Search</a>
            <input class="form-control me-2" name="text" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </nav>
   
    
      <h1 >{{info}}</h1>
      <h1 align="center">Welcome {{username}}</h1>
      
      {% if email_length != 0  %} 
      <button type="button" class="btn btn-primary position-relative">
        Found
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{email_length}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>

      {% elif email_length == 0  %}
      <p> No messages matched your search. </p>
      
      {% endif %}

  
    
    
{% for i in b%}


<p class="text-white bg-dark">{{i}}</p>
{%endfor%}

</form>
<form action="/delete" method="post">
  <div class="col text-center">
  <button type="submit" class="btn btn-primary btn-lg">Delete Emails</button>

</form>
</body>


</html>